
@{
    ViewBag.Title = "AfterBuy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Уважаемый @ViewBag.name.</h2>
<td><p>Благодарим вас за покупку.</p></td>
<td><p>С уважением, Разработчик.</p></td>

@{Html.RenderPartial("PartialTest");}